/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
This design is inspired by Spotify, as the form is effectively
though as a possible interface for the Spotify app, if in the future
there was ever the possibility to purchase merch or event tickets
on the Spotify app
*/

/* Brand colors:
GREEN: #1DB954 (accents)
White: #FFFFF (text)
Black: #191414 (background)
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 1.125em; /* 18/16 == 1.125em*/
  line-height: 1.22222222em; /*22/18 == 1.22222222em*/
  padding: 0.61111111em; /*11/18 == 0.61111111*/
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  background-color: #191414;
}

img {
  width: 3.33333333em; /*60/18 == 3.33333333em*/
}

#ticket {
  width: 65%;
  float: left;
}

#logo {
  width: 3.33333333em; /*60/18 == 3.33333333em*/
  float: left;
}

header {
  display: flow-root;
}

main > * {
  display: inline-block;
}

aside {
  margin-top: 1.22222222em; /*22/18 == 1.22222222em*/
  margin-bottom: 1.83333333em; /*33/18 == 1.83333333em*/
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-style: outset;
  padding: 0.61111111em;/* 11/18 == 0.61111111em*/
  border-color: rgba(29, 185, 84, 0.35);
  border-width: thick;
  font-size: 0.77777778em; /*14/18 == 0.77777778*/
  text-align: right;
}


#thank-you {
  margin-top: 1.11111111em; /*20/18 = 1.11111111em*/
  margin-bottom: 2.22222222em; /*40/18 == 2.22222222em */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 1em; /*18/18 = 1em*/
  line-height: 1.3333333em; /*24/18 == 1.3333333em*/
  font-weight: bold;
  margin-bottom: 1.11111111em; /*20/18 == 1.11111111em */
  color: rgba(29, 185, 84);
}

h1 {
  font-size: 1.22222222em; /* 22/18 == 1.22222222em*/
  line-height: 1.18181818em; /* 26/22 == 1.18181818em */
  font-weight: bolder;
  text-align: center;
  letter-spacing: 0.11111111em; /* 2/22 == 0.11111111em */
  margin-bottom: 2.22222222em; /* 44/22 == 2.22222222em */
  padding-right: 2.72727273em; /* 60/22 == 2.72727273em */
}

select {
  width: 100%;
}

form > fieldset > ol > li > input,
form > fieldset > ol > li > select {
  width: 100%;
  font-size: 0.77777778em;/* 14/18 == 0.77777778em */
  font-weight: lighter;
  background-color: #EFEFEF;
}

.short-input > input {
  width: 60%;
}

.short-input > label {
  display: block;
}

.checkbox {
  width: unset;
}

form > fieldset > ol > li > .checkbox {
  width: auto;
}

li {
  margin-bottom: 0.61111111em; /*11/18 == 0.61111111em*/
}

footer {
  font-size: 0.77777778em;/* 14/18 == 0.77777778em */
  font-style: italic;
  background-color: #1DB954;
  margin-left: -0.78571429em; /*11/14 == 0.78571429em */
  margin-right: -0.78571429em; /*11/14 == 0.78571429em */
  padding-bottom: 0.78571429em; /*11/14 == 0.78571429em */
  margin-bottom: -0.78571429em; /*11/14 == 0.78571429em */
  margin-top: 4.71428571em; /* 66/14 == 4.71428571em */
  color: white;
  text-align: center;
}

.thank-you > * {
  font-family: serif;
  font-style: italic;
  color: #1DB954;
}

.back {
  color: #191414;
  padding: 0.46153846em; /*6/13 == 0.46153846em*/
  box-sizing: content-box;
  background-color: #D3D3D3;
  margin-top: 1.69230769em; /*22/13 == 1.69230769em*/
  display: inline-block;
  font-size: 0.72222222em; /*13/18 == 0.72222222em */
  border-radius: 0.38461538em; /*5/13 == 0.38461538em */
  border-color: white;
  border-width: 0.30769231em; /*4/13 == 0.30769231em*/
  text-decoration: none;
}

#delivery label::after {
  content: "\a";
  white-space: pre;
}

.forward {
  padding: 0.46153846em; /*6/13 == 0.46153846em*/
  color: white;
  background-color: #1DB954;
  margin-top: 1.69230769em; /*22/13 == 1.69230769em*/
  margin-bottom: 5.07692308em; /*66/13 == 5.07692308em*/
  box-sizing: content-box;
  float: right;
  border-radius: 0.38461538em; /*5/13 == 0.38461538em */
  border-color: black;
  margin-left: 0.46153846em; /*6/13 == 0.46153846em */
}

fieldset[aria-hidden="true"] {
  display: none;
}

@media screen and (min-width: 25em /*400/16 == 25*/) {

  aside {
    margin-left: 5%;
    width: 90%;
  }

  form {
    width: 90%;
    margin: auto;
    padding-left: 10%;
  }

  .forward {
    margin-left: 0;
  }

  .short-input > input {
    width: 40%;
  }
}

@media screen and (min-width: 31.25em /*500/16 == 31.25*/) {

  select,
  form > fieldset > ol > li > input {
    display: block;
    max-width: 16.6666667em;/*300/18 == 16.6666667em*/
  }

  form > fieldset > ol > li > .checkbox {
    display: inline;
  }
}

@media screen and (min-width: 37.5em /*600/16 == 37.5*/) {

  aside {
    margin-left: 5%;
  }

  form {
    width: 90%;
    margin: auto;
  }

  form > fieldset > ol {
    margin-left: 8%;
  }

  form > ol > * {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  form > fieldset > ol > * {
    margin-left: auto;
    margin-right: auto;
    width: 68%;
  }

  .short-input > input {
    width: 30%;
  }

}


@media screen and (min-width: 46.875em /*750/16 == 46.875*/) {

  form > fieldset > ol {
    margin-left: 15%;
  }

  aside > * > * {
    margin: 1.11111111em; /*20/18 == 1.11111111em*/
  }

  #ticket {
    width: 60%;
  }
}

@media screen and (min-width: 62.5em /*1000/16 == 62.5*/ ) {

  form {
    padding-left: 14%;
  }

  aside {
    width: 70%;
    margin-left: 15%;
  }

  #ticket {
    width: 50%;
  }

}
/* the content starts to look weird at this dimension: 1060px+*/
